<%= form_with(model: app, local: true) do |form| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :app_name %>
  </div>

   <div class="field">
    <%= form.label :team_name %>
    <%= form.text_field :team_name, id: :app_team_name %>
  </div>

  <div class="field">
    <%= form.label :square %>
    <%= form.file_field :square, id: :app_square %>
  </div>
  
  <div class="field">
    <%= form.label :image0 %>
    <%= form.file_field :image0, id: :app_image0 %>
  </div>

    <div class="field">
    <%= form.label :image1 %>
    <%= form.file_field :image1, id: :app_image1 %>
  </div>

  <div class="field">
    <%= form.label :image2 %>
    <%= form.file_field :image2, id: :app_image2 %>
  </div>

  <div class="field">
    <%= form.label :image3 %>
    <%= form.file_field :image3, id: :app_image3 %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about, id: :app_about %>
  </div>

  <div class="field">
    <%= form.label :feature %>
    <%= form.text_area :feature, id: :app_feature %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
