<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>TeamName:</strong>
  <%= @app.team_name %>
</p>

<p>
  <strong>Square:</strong>
  <%= @app.square %>
</p>

<p>
  <strong>Image0:</strong>
  <%= @app.image0 %>
</p>

<p>
  <strong>Image1:</strong>
  <%= @app.image1 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @app.image2 %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @app.image3 %>
</p>

<p>
  <strong>About:</strong>
  <%= @app.about %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @app.feature %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
